.fwpum {
	&__field {
		position: relative;
		margin-bottom: 15px;
		input {
			padding:5px 10px;
		}
		label {
			font-weight: 400;
			margin:0;
		}
		.parsley-errors-list {
			list-style: none;
			padding:0;
			margin:0;
			color:red;
			position: absolute;
			top:100%;
			left: 0;
			font-size: 11px;
		}
	}
}